/*
http://vagevuur.dlinkddns.com/han/hackflix/flexbox_2.html

*/



* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



body{
    background-color:#222233;

    font-family:"sans-serif";
}
iframe{
    border: 0;
}
/*
* header
*/
#header{

    display: -webkit-flex;
    display: flex;

    position: absolute;
    top:0;
    width: 100%;
    height: 5%;
}
header{

    /*decoration*/
    background-color: #0F0F0F;
    border-radius: 4vh;

    /*position*/
    display: -webkit-flex;
    display: flex;
    position:fixed;
    justify-content:space-between;
    align-items: center;


    top:0;
    width:100%;
    height: 5%;
    z-index: 5;



}

.searchbar{
    width:50%;

}

.logo{

    /*decoration*/
    color: #AACCFF;


    /*position*/
    display:inline-block;
    z-index: 6;
    margin-left: .8vw;
    align-self: flex-start;


}

/* search */
.textbox{
    text-align: center;
}

.search{


    /*decoration*/
    font-size: 4vh;
    overflow: hidden;




}
.search a{
    font-size: 3vh;
}

a.search:hover{
    background-color: #AACCFF;
}

.search .button{

    height: 98%;
    width: 19%;
    display:inline;

    padding:0;
    margin: -.4vw;
    border: 0;

    color: #FFFFFF;
    background-color: #222233;



}

.search .textbox {

    height: 98%;
    width: 100%;
    display:inline;

    padding:0;
    margin: 0;
    border: 0;

    color: #FFFFFF;
    background-color: #222233;
}

.search .textbox:hover{
    background-color: #222233;
}
/*dropdown account menu*/
.dropdown {

    /*position*/
    align-self: flex-end;

    /*decoration*/
    height: 100%;
    z-index: 6;
    margin-right: .2vw;

}
.dropdown img{
    width: auto%;
    height: 100%;
    float: right;
}

.dropdown-content {
    display: block;
    visibility: hidden;
    margin-top: 100%;
    position: absolute;

    background-color: #0f0f0f;

    right:0;
    border-radius: 4vh;
    border: 1px solid #AACCFF;

}

.dropdown-content a {
    color: #AACCFF;
    padding:11%;
    text-decoration: none;
    display: block;
    font-size: 3vh;
    text-align: center;

}

.dropdown-content a:hover {
    color:#CAECFF;
    text-shadow: 0 0 1vw #CAECFF;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
}


Header a{
    text-decoration: none;
    font-size: 4vh;
    color:#AACCFF;

}


Header a:hover{
    color:#CAECFF;
    text-shadow: 0 0 1vw #CAECFF;
}

/*
* Footer
*/
footer{
    position:fixed;
    bottom: 0;
    width: 100%;

    padding-left: 90vw;

    background-color: #0F0F0F;

}

footer p{
    font-size: 1vw;
    color: #FFFFFF;
}
footer a{
    text-decoration: none;
}
footer a:hover p{
    color:#CAECFF;
    text-shadow: 0 0 1vw #CAECFF;
}





/*
* Content
*/

#content{
    position: absolute;
    top: 10%;
    display: block;
    width: 100%;
}

#content h1{

    /*position*/
    border-bottom: 4px solid #AACCFF;
    padding: 0 0 1vh 1vw;

    /*decoration*/
    color: #FFFFFF;
    font-size: 3vh;

}

#content p{
    color: #FFFFFF;
    font-size: 2vw;
}

#content img:hover{
    box-shadow: 0 0 3.5vw #FFFFFF;

}



/*thumbnails*/

#thumbnails{

    /*properties of the box*/
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

    width:85%;
    margin: 0 auto 0 auto;

    /*properties of position of the content in the box*/


}

.thumbnail{
    width:33.33%;
}

.thumbnail img{
    display: block;
    margin: 0 auto 6% auto;
    width:94%;
    height: auto;
}


/*movies*/
#content-video{
    position:static;
    margin-top: 8vh;

    padding: 0 8% 5% 8%;
}

.videoWrapper{
    box-sizing: border-box;
    border-bottom: 4px solid #AACCFF;;

    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    margin-bottom: 1vh;

}
.videoWrapper iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


#content-video h1{

    /*decoration*/
    color: #FFFFFF;
    font-size: 4vh;

}
#content-video a{
    float: right;
    display: inline-block;
    margin-top: .3vh;
    padding: .2%;


    text-decoration: none;
    color: #AACCFF;
    background-color: #0F0F0F;
    font-size: 3vh;
    border-radius: 2vh;
}

#content-video a:hover{
    color:#CAECFF;
    text-shadow: 0 0 1vw #CAECFF;
}

#content-video p{

    padding: .5vh 0 1vh 1vw;
    margin: 1vh 0 1vh 0 ;


    color: #AACCFF;
    background-color: #0F0F0F;
    font-size: 2vh;
    border-radius: 2vh;


}

#video-info{

    margin-top: 1vh;
    background-color: #0F0F0F;
    border-bottom: 4px solid #AACCFF;
    padding: 1vh .5vw 1vh .5vw;
    border-radius: 2vh;

}
#video-info p{


    border-radius: 0;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 2vh;

}
#season-overview{
    height: 100%;
    margin-bottom: 4vh;
}
#season-overview ol{
    /*placement*/
    margin-bottom: 4vh;
    list-style-type: none;
    padding: 0;

    /*decoration*/
    display:inline-block;
    width: 50%;
    color: #AACCFF;
    font-size: 3vh;
}
#season-overview li a{
    padding-left: 3%;
    margin: 0 auto 1% auto;
}

#season-overview a{
    display:block;
    float:none;
    width:90%;

}
#season-overview .active{
    text-shadow: 0 0 1vw #CAECFF;
}
.episodes{
    float: right;
}

/*account*/
#account-container{

    position: static;
    background-color: #0F0F0F;
    border: 4px solid #AACCFF;
    border-radius: 4vh;
    box-sizing: border-box;

    width: 80%;
    height: 80%;

    margin: 0 auto 10% auto;
    padding: 1%;

}

#account-container p{
    float:left;
    width: 50%;
    font-size: 2vh;
    margin: .5% 0 .5% 0;
    display: inline-block;
}
#account-container h1{
 margin-top: .5%;

}
#account-container a{
    width:50%;
    display: inline-block;
    font-size: 2vh;
    color: #AACCFF;
    float:Right;
    margin: .5% 0 .5% 0;
    text-align: right;
}
#account-container table{
    color: #FFFFFF;
    margin: 2vh auto 0 auto;
    width: 80%;
    font-size: 2vh;

}
#account-container table, th, td{
    border: 3px solid #AACCFF;
    border-collapse:collapse;
}
#account-container th, td{
    padding: 2.5%;
    text-align: center;
}
#account-container th{
    color: #AACCFF;

}
#account-container a{
    text-decoration: none;
    float: none;
}
#account-container a:visited{
    color: #AACCFF;
}
#account-container a:hover{
    text-shadow: 0 0 1.2vw #CAECFF;
}

/*searchboxes*/

#searchboxes{

    /*position*/
    display: block;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    top:6%;

    /*decoration*/
    background-color: #0f0f0f;
    border: 2px solid #AACCFF;
    border-radius: 2vh;


}
#searchboxes form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchbox{

    background-color: #222233;
    color: #FFFFFF;
    font-size: 4vh;
    display: inline-block;
    width: 10%;
    text-align: center;
    border-radius: 2vh;


}

.searchbox option{
    background-color: #222233;
    color: #FFFFFF;
}

.searchbox select, .searchbox input{

    display: inline-block;
    background-color: #222233;
    color:#FFFFFF;
}
.searchbox:hover{
    background-color: #AACCFF;
}


#content-search{
    position: absolute;
    top: 20%;
    display: block;
    width: 100%;
}

#content-search h1{

    /*position*/
    border-bottom: 4px solid #AACCFF;
    padding: 0 0 1vh 1vw;
    margin-bottom: .5%;

    /*decoration*/
    color: #FFFFFF;
    font-size: 3vh;

}

#content-search p{
    color: #FFFFFF;
    font-size: 2vw;
}

#content-search img:hover{
    box-shadow: 0 0 3.5vw #FFFFFF;

}



/*
* Login Page
*/

#Login-Container{

    position: static;
    background: #0F0F0F url(../Images/Movie_Screen.jpg) Left Top no-repeat;
    background-size: 100% auto;
    border: 4px solid #AACCFF;
    border-radius: 4vh;
    box-sizing: border-box;

    width: 80%;
    height: 80%;

    margin: 5% auto 10% auto;
    padding: 1%;

}

#Login-Container p{
    width: 100%;
    font-size: 2vh;
    margin: .5% 0 .5% 3%;
    display: inline-block;
}
#Login-Container h1{
    margin-top: .5%;
}

#login-box{
    /*position*/
    position: static;
    Width: 60%;
    Height: 60%;
    margin: 10vh auto 2vh auto;
    padding-top: 4%;

    /*decoration*/
    display: block;
    background-color: #0f0f0f;
    overflow: hidden;
    border-radius: 4vh;
    z-index: 2;
    border: 4px solid #AACCFF;

}

#login-box form input{
    width: 60%;
    font-size: 6vh;
    margin: 0 20% 5% 20%;
    text-align: center;
}
#Login-buttons{
    position: static;
    width: 60%;
    margin: 0 auto 0 auto;
    overflow: hidden;
    padding-left: 5vw;
}
#Login-buttons ol{
    /*placement*/
    margin-top: 2vh;
    margin-bottom: 3vh;
    list-style-type: none;
    padding: 0;
    float: right;

    /*decoration*/
    display:inline-block;
    width: 50%;
    color: #AACCFF;
    font-size: 3vh;
}
#Login-buttons li a{
    background-color: #0f0f0f;
    border-radius: 2vh;

}

#Login-buttons a{

    text-decoration: none;
    text-align: center;
    display:block;
    width:75%;
    border: 4px solid #AACCFF;
    color: #AACCFF;


}
#Login-buttons a:visited{
    color: #AACCFF;

}
#Login-buttons a:hover{
    text-shadow: 0 0 1.2vw #CAECFF; ;

}






/*
* About Page
*/

#about p{
    width: 100%;
    display:block;
    float: none;
}